@import url(https://fonts.googleapis.com/css?family=Righteous);
html,
body {
    margin: 0;
    padding: 0;
}
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    text-align: center;
}

.title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Righteous', serif;
  font-size: 8rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #c9c9c9;
}

.question {
  font-size: 2rem;
}

button {
    margin-top: 2rem;
    font-family: 'Righteous', serif;
    font-size: 2rem;
    color: #fff;
    display: inline-block;
    width: auto;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.05em;
    cursor: pointer;
    width: 12em;
    text-transform: uppercase;
    margin-bottom: 1em;
    border-width: 0.25em;
    border-style: solid;
    padding: 1em;
    border-radius: 2px;
    background-color: transparent;
    margin-left: 1rem;
}

button:first-of-type {
  border-color: #9ad3de;
  background-color: #9ad3de;
}

button:nth-of-type(2) {
  border-color: #89bdd3;
  background-color: #89bdd3;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .title {
    font-size: 5rem;
  }
}


.score {
  font-size: 6rem;
}
@media (max-width: 430px) {
    .question {
        height: 50px;
    }

}
span {
  text-align: justify;
}
